html { 
  height:100%; 
}

body {
  height:100%;
  margin: 0px;
  padding: 0px;
  font-family: "微軟正黑體", "Microsoft JhengHei", arial, sans-serif;
}

.border-width-lg{
border-width: 8px !important;
}

.border-width-lg{
border-width: 8px !important;
}

.logo-md {
  width: 80%;
.logo-sm {
width: 65%;
}
.logo-sm {
width: 65%;
}
}
.bg-contain {
background-size: contain;
background-position: center center;
}